## INSTALL (comment/uncomment) ***
#%conda create -n hicode python=3 jupyterlab -y
#%conda install matplotlib Ipython pandas scikit-learn -y
#NOTE: add env kernel: 1.Go to terminal; 2. conda activate env; 3. python -m ipykernel install --user --name hicode --display-name "hicode"


#!cd hicode
#!pip install -e . #NOTE: install inside of environment hicode ; # WARNING:It is highly recommended to use pip install . (regular install) and pip install -e . (developer install) to install packages, as invoking setup.py directly will do the wrong things for many dependencies, such as pull prereleases and incompatible package versions, or make the package hard to uninstall with pip.